body { 
  padding-top: 10%;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: url("../img/gplaypattern.png");
  font-family: 'Work Sans'!important, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Space Mono', monospace;
color:#088;
}

h1, h2 {
padding-bottom: 3%;
border-bottom: 3px solid #088;
}

* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}


.nav {
  margin-left: 40%;

}

.row {
  margin-bottom: 3%;
}

#bio {
  padding-right: 5%;
  padding-top: 5%;
}
  
}
.social {
  padding: 2%;
}

#brand{
  color:#088;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #e7e7e7;
  text-align: center;
}

/* CONTACT PAGE */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  color:#088;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #088;
  border: 0 none;
}

/* PORTFOLIO */

.work {
position: relative;
float: left;
width: 100%;
margin: 20px 0 25px;
overflow: auto;
}

.work:nth-child(even) {
margin-right: 40px;
}

.work img {
width: 100%;
border: 0 none;
opacity: 0.8;
}

.work h3 {
position: absolute;
bottom: 20px;
width: 100%;
padding: 15px;
margin-bottom: 0;
font-weight: 300;
line-height: 30px;
color: #fff;
text-align: center;
background: #4aaaa5;
border-bottom: 0;
}



/* color codes
#8fd - aquamarine
#022 - almost black blue
#077 - drk teal
#088 - medium teal
*/